@using WebSite.Entities;
@using WebSite.ViewModels;

<head>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/blog/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="~/blog/assets/css/variables.css" rel="stylesheet">
    <link href="~/blog/assets/css/main.css" rel="stylesheet">
</head>

<main id="main">
    <section>
        <div class="container">
            <div class="row">

                <div class="col-md-9" data-aos="fade-up">
                    <h3 class="category-title">@Model.CategoryName</h3>

                    @foreach (Post post in Model.Posts)
                    {
                        <div class="d-md-flex post-entry-2 half">
                            <a href="/blog/onePost/@post.Slug" class="me-4 thumbnail">
                                <img src="@post.ImgSrc" alt="@post.ImgAlt" class="img-fluid">
                            </a>
                            <div>
                                <div class="post-meta"><span class="date">@post.category.Name</span> <span class="mx-1">&bullet;</span> <span>@post.CreatedDate.ToShortDateString()</span></div>
                                <h3><a href="/blog/onePost/@post.Slug">@post.Title</a></h3>
                                <p>@post.Description</p>
                                <div class="d-flex align-items-center author">
                                    <div class="photo"><img src="@post.AuthorImgSrc" alt="" class="img-fluid"></div>
                                    <div class="name">
                                        <h3 class="m-0 p-0">@post.Author</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="text-start py-4">
                        <div class="custom-pagination">
                            @if (@Model.Posts.HasPreviousPage)
                            {
                                if (@Model.CategorySlug != null)
                                {
                                    <a href="/blog/allPosts?page=@(Model.Posts.CurrentPageIndex - 1)&categoryId=@Model.CategorySlug" class="prev">Prevous</a>
                                    <a href="/blog/allPosts?page=0&categoryId=@Model.CategorySlug">1</a>
                                }
                                else if (@Model.TagSlug != null)
                                {
                                    <a href="/blog/allPosts?page=@(Model.Posts.CurrentPageIndex - 1)&tagId=@Model.TagSlug" class="prev">Prevous</a>
                                    <a href="/blog/allPosts?page=0&tagId=@Model.TagSlug">1</a>
                                }
                                else
                                {
                                    <a href="/blog/allPosts?page=@(Model.Posts.CurrentPageIndex - 1)" class="prev">Prevous</a>
                                    <a href="/blog/allPosts?page=0">1</a>
                                }

                            }


                            <a href="#" class="active">@(Model.Posts.CurrentPageIndex + 1)</a>
                            of
                            <a href="/blog/allPosts?page=@(Model.Posts.CountPages - 1)">@Model.Posts.CountPages</a>

                            @if (@Model.Posts.HasNextPage)
                            {
                                if (@Model.CategorySlug != null)
                                {
                                    <a href="/blog/allPosts?page=@(Model.Posts.CurrentPageIndex + 1)&categoryId=@Model.CategorySlug" class="next">Next</a>
                                }
                                else if (@Model.TagSlug != null)
                                {
                                    <a href="/blog/allPosts?page=@(Model.Posts.CurrentPageIndex + 1)&tagId=@Model.TagSlug" class="next">Next</a>
                                }
                                else
                                {
                                    <a href="/blog/allPosts?page=@(Model.Posts.CurrentPageIndex + 1)" class="next">Next</a>
                                }
                            }

@*                            <a href="#" class="prev">Prevous</a>
                            <a href="#" class="active">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#" class="next">Next</a>*@
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <!-- ======= Sidebar ======= -->
                    <div class="aside-block">
                        <h3 class="aside-title">Video</h3>
                        <div class="video-post">
                            <a href="https://www.youtube.com/watch?v=AiFfDjmd0jU" class="glightbox link-video">
                                <span class="bi-play-fill"></span>
                                <img src="assets/img/post-landscape-5.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div><!-- End Video -->

                    <div class="aside-block">
                        <h3 class="aside-title">Categories</h3>
                        <ul class="aside-links list-unstyled">
                            @foreach (Category category in Model.Categories)
                            {
                                <li><a href="/blog/allPosts?categoryId=@category.Slug"><i class="bi bi-chevron-right"></i> @category.Name</a></li>
                            }
                        </ul>
                    </div><!-- End Categories -->
                    <div class="aside-block">
                        <h3 class="aside-title">Tags</h3>
                        <ul class="aside-tags list-unstyled">
                            @foreach (Tag tag in Model.Tags)
                            {
                                <li><a href="/blog/allPosts?tagId=@tag.Name">@tag.Name</a></li>
                            }
                        </ul>
                    </div><!-- End Tags -->

                </div>

            </div>
        </div>
    </section>
</main><!-- End #main -->
<!-- Vendor JS Files -->